[2016-07-14 03:13] elecalion opened #2 "Add option to config ctags opts"
Could you add a option like
g: ctags_opts = "--c++-kinds=+p --fields=+iaS --extra=+q"
to config ctags opts.

[2016-07-14 13:01] jsfaint commented on #2
😄 Did you try gtags before? It's a better choice for C/C++ development.
I haven't use ctags for a long time in C/C++ after I met gtags

Or maybe some other plugins you used need the ctags tags file?

[2016-07-14 13:15] elecalion commented on #2
I am using gtags, it's great. But C omni completion needs ctags tags. Those opts are just for completion.
Clang is another good choice for completion, while it makes lots of background process. C omni completion is thinner and simpler than Clang.

[2016-07-14 13:31] #2 closed

[2016-07-14 13:34] jsfaint commented on #2
Added 😆
BTW: I currently use [vim-clang](https://github.com/justmao945/vim-clang) for C/C++ completion.

[2016-07-17 01:38] elecalion commented on #2
Thanks. Good job. ( ´∀`)

[2016-08-09 02:44] fcymk2 opened #3 "new project run GenAll at first, won't add tags var"
a new project, run GenAll, set tags  no changed, run GenAll again, set tags has been modified

[2016-08-09 03:23] jsfaint commented on #3
I can reproduce this issue on my side, will fix later.
Thanks. :smile:

[2016-08-09 03:59] fcymk2 opened #4 "ClearCtags won't remove the tag's folder"
only remove the prj_tags file.

[2016-08-09 04:32] #3 closed

[2016-08-09 04:51] jsfaint commented on #4
Sorry, the `delete()` function provide in vimscript can only delete files.
The folder can't remove by only call vimscript.
I wanna use this plugin in multi-platform like Windows, Linux and macOS.
So this issue will not be fixed until I find a better choice.

[2016-08-10 12:57] fcying commented on #4
I try to use delete(l:file,"rf"), it was run ok in Windows.
  let l:file = expand(s:get_project_ctags_dir())
  let l:file = s:fix_path_for_windows(l:file)
  call delete(l:file,"rf")

[2016-08-10 14:12] jsfaint commented on #4
@fcymk2 I tried `delete()` with flags, it works on linux and osx too. Thanks. 👍

There is another problem about the behavior of ClearCtags command.
When the `ext.conf` file exist, shall we remove `ext.conf` with folder? Or only remove the folder when the `ext.conf` not exist?

Maybe just delete all the thing including the folder 😆

[2016-08-10 15:48] #4 closed

[2016-08-11 01:46] fcying commented on #4
if you won't remove ext.conf, you can delete the folder separately by use flag "d", use this flag only delete folder when it's empty

[2016-08-11 02:13] jsfaint commented on #4
`ClearCtags` will delete everything include the folder for now, unless we add another command for deleting the ext.conf file.
I'm a little busy now and will add it later.

BTW: PR is appreciated :smile:

[2017-02-18 03:19] Mariappan opened #5 "Autogenerate GTAGS file upon opening a file in a GIT or HG project"
I am currently using guten-tags plugin which will create tags file on its own when i open a file and update the tags file if i edit it.
Today I found your plugin which supports GTAGS also and I am trying to use it.
But the GTAGS file is not auto generated as of now.
Is there a plan to make the GTAGS file auto generate on opening a file in a project.

[2017-02-20 02:00] jsfaint commented on #5
Hey @Mariappan thanks for your feedback :)
I'll have a look on gunten-tags.

Maybe I can add an option to enable/disable auto generate feature?
By now, you only need to run `:GenGTAGS` once, then the database will be updated on file saving automatically.

For hg support, I have no plan to support it yet, because I don't use hg, and to support it I need to rewrite this function `gen_tags#find_proje

[2017-02-21 01:09] jsfaint commented on #5
Hi @Mariappan , could you have a try with the latest code to see if it fit for you?

The auto gen feature was disabled by default, you need to set `g:gen_tags#ctags_auto_gen` and `g:gen_tags#gtags_auto_gen` in your vimrc

[code]

[2017-02-21 01:31] jsfaint commented on #2
Hi @elecalion I add a prefix to the options, so you need to change your setting from `g:ctags_opts` to `g:gen_tags#ctags_opts`.
Sorry for the inconvience 😢

[2017-02-21 01:56] Mariappan commented on #5
Thanks @jsfaint . That was some quick resolution.

I added the following in my nvim init.vim file
+ let g:gen_tags#ctags_auto_gen = 1
+ let g:gen_tags#gtags_auto_gen = 1

When I open a file in git repo using vim .4.1689, it is printing like this
"moveresize.c" 64L, 1609CGenerate GTAGS in [Background]Generate GTAGS in [Background]
But the tags file is not generated.

When i open the file in neovim

[2017-02-21 02:57] jsfaint commented on #5
@Mariappan Sorry, I'm an idiot, I made a typo in function name. which cause ctags autogen function not work.
I checked in vim 8.0,329, it works now.
For neovim support, I'll check it later.

Thank you for your feedback. 👍

[2017-02-21 03:07] jsfaint commented on #5
@Mariappan I checked nvim 0.1.7 with latest code looks good to me.
Can you try again with the latest code? Thanks!

[2017-02-21 18:38] Mariappan commented on #5
Sorry @jsfaint Still i didnt have luck.
I have set the auto_gen variable in vimrc and tried to open one c in a git repo.
Please find the logs:

pon@pon-ubuntu:~/github/dwm$ tail ~/.vimrc
catch
colorscheme koehler
endtry

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let g:chromatica#libclang_path='$HOME/.linuxbrew/lib'

""""""""""""""""""""""""""""""""""""""""""""

[2017-02-22 00:59] jsfaint commented on #5
@Mariappan 😢 Can you do me a favor for the following information? Thanks

1. Can I tell me which version of ubuntu you use?
2. Which version of vim you use, and does it works on vim (not neovim) now?
3. According to the log above, you're testing with neovim, right?
Please tell me the result of these commands after you open dwm.c under folder dwm

[code]

[2017-02-22 05:16] jsfaint commented on #5
@Mariappan My environment is Archlinux + neovim 0.1.7
Everything works as the expect.
[![asciicast](https://asciinema.org/a/3pg5gd6qlo9yx5wrpdh0j50ve.png)](https://asciinema.org/a/3pg5gd6qlo9yx5wrpdh0j50ve)

[2017-02-23 14:19] Mariappan commented on #5
Oops my bad, it was working, I have commented the plugin.
Closing the issue. Thanks a lot for your quicker response.

[2017-02-23 14:19] #5 closed

[2017-02-23 14:21] jsfaint commented on #5
@Mariappan 😄 Thanks for your help and feedback.

[2017-02-25 15:45] elecalion commented on #2
Got it, thanks!
Actually, I have add a prefix in my own folk, but your way seems better.

[2017-03-30 16:01] mikezaby opened #6 "How could i disable gtags"
I want to disable gtags because I don't use them and it promps every time I open the neovim a message about missing GNU Global

[2017-03-31 01:13] jsfaint commented on #6
Thanks for your feedback 😄
I add two options for this feature.

Please add this into your vimrc to disable gtags support

[code]

[2017-04-02 13:24] mikezaby commented on #6
Thanks for the fast response :smile:

[2017-04-02 13:24] #6 closed

[2017-04-02 15:31] jsfaint commented on #6
@mikezaby Thanks for using 😄
Please feel free to shot another issue, if you have any other questions

[2017-06-13 18:54] ahmedelgabri opened #8 "Auto generate ctags file"
I'm trying out this plugin that looks exactly like what I need, I like its simplicity a lot. But I'm a bit struggling to get it work properly. Here is my setup

[code]
When I open a file I get the message that it's working & generating tags for the project

[code]

But I can't find the `tags` file anywhere, not the root of the project & not inside `~/.cache/tags_dir/<project_path>`?

Although `set

[2017-06-13 22:52] jsfaint commented on #8
I'm sorry to hear that the plugin not work out-of-box for you.
Can you provide more info about this issue, please?
Like your platform, vim version and your codebase size.

ctags generate tagfile is a bit slow for the large codebase.
The plugin will set run `set tags` first, then generate tagfile in background (to avoid vim hang).
you can't get any tagfile, before the generator finish its job.
I'll

[2017-06-14 07:55] ahmedelgabri commented on #8
I'm already in a git repo, I know about that :)

Here more info:

- neovim HEAD `NVIM v0.2.1-331-g6650588c`
- macOS Sierra 12.10.5
- codebase is around 8k files

Currently I'm using vim-gutentags & it's actually not slow.

[2017-06-14 08:35] jsfaint commented on #8
8k files shouldn't be problem here, large codebase I mean like linux kernel 😄

Can you run `:echo gen_tags#find_project_root()` and tell me the result, please?
The result should be your git repository root.

There is a known issue in VimR (neovim GUI for macOS), it will get the wrong CWD which cause `gen_tags.vim` can't work as expect.

And another action I need your help, as you open neovim, plea

[2017-06-14 11:00] ahmedelgabri commented on #8
I'm using neovim in the terminal not the GUI

- `:echo gen_tags#find_project_root()` returns the right root
- `ps aux | grep ctags` doesn't show `ctags` running

[2017-06-14 12:22] jsfaint commented on #8
That's weird.. I already checked on my windows and linux environment,  everything works well. I'll check it on my mac later.

If you run this command by manual, does it report any problem?
[code]
And also what's the result of this command?
[code]

Thanks

[2017-06-14 14:24] ahmedelgabri commented on #8
I had a problem with `ctags` fixed that & will see now if it works or not, will monitor for a couple of days & let you know. Thanks for the help! 😊

[2017-06-14 15:18] jsfaint commented on #8
@ahmedelgabri Good to know~ I wish you enjoy this plugin.
Wait for the updates 👍
Thank you~

[2017-06-18 09:25] ahmedelgabri commented on #8
Looks like everything is working great 👍

I have only one minor issue but I guess it's more `ctags` related than your plugin, which is that `ctags` when it runs it maxes out my CPU, any tips on how to debug/fix this or is this normal?

<img width="981" alt="" src="https://cloud.githubusercontent.com/assets/63876/26520791/977cebb4-42d9-11e7-8ed6-d833e312e86f.png">

[2017-06-19 01:30] jsfaint commented on #8
I'm on vacation now, will check it later.
I installed ctags via homebrew. Where did you get it?

[2017-06-19 08:58] ahmedelgabri commented on #8
Yes through homebrew, I using [`universal-ctags`](https://github.com/universal-ctags/ctags)

[2017-06-22 10:57] jsfaint commented on #8
@ahmedelgabri I checked on my mac and `ctags` eat up the CPU too.
![image](https://user-images.githubusercontent.com/571829/27430732-43b29f62-577c-11e7-9381-cd6ae6ea8c82.png)
So I think it's normal :)

[2017-06-22 11:03] ahmedelgabri commented on #8
Ok, so nothing can be done then :)

Thanks for the help!

[2017-06-22 11:03] #8 closed

[2017-06-27 21:13] joereynolds opened #9 "(Neovim) Cannot redefine function <SNR>59_wrap: It is in use"
Hi,

Great looking plugin, huge fan of gtags.

I've just tried it out and whenever I try and `:wq` on a file it gives me the following error message
[code]

These are the config options I have for gen_tags in my `init.vim` file

[code]
I am using xubuntu.

[2017-06-28 01:58] jsfaint commented on #9
It's weird, I can't reproduce it on archlinux, windows and macOS.
Can you give some more info, please?
Like gen_tags.vim git commit id, your codebase size and etc
Thanks

----
**UPDATE**
Maybe it was caused by fcf7e1de7012a0332fd83a0cd443c217786bdf9e
If you revert this commit, can you reproduce this issue?
[code]

[2017-06-28 05:17] jsfaint commented on #9
Close by mistake. Sorry 😢
@joereynolds I rewrite job control related function. Please test with latest master.
Thanks

[2017-06-28 06:43] joereynolds commented on #9
Hey @jsfaint , that's fixed the generation of all things gtag related :D!
The only problem is (and I didn't mention this before) is that the `tags` file from ctags is never generated :(

[code]

I've tested it on large codebases (500,000+ lines) and small codebases (1000 lines) and only GNU-Global related stuff is generated

[2017-06-28 06:58] jsfaint commented on #9
@joereynolds The ctags files is under `~/.cache/tags_dir/`, not the project directory.
Did you checked that directory already?

[2017-06-28 07:07] joereynolds commented on #9
My bad, seems to have worked then. Thanks!

[2017-06-28 07:07] #9 closed

[2017-06-28 07:13] jsfaint commented on #9
I fixed a minor issue found in the previous commit. 😄
Thanks for using this plugin @joereynolds

[2017-06-28 08:25] joereynolds opened #11 "Option to set tagdir"
Currently (like you said in #9), the file for `tags` generated by `ctags` resides in `$HOME/.cache/tags_dir`.
I think most people (me included) would prefer this to be in the top level of the project directory so that Vim automatically picks it up.

[2017-06-28 09:03] jsfaint commented on #11
`gen_tags.vim` will call `set tags` for you after ctags generated.
![image](https://user-images.githubusercontent.com/571829/27629066-a964b5f6-5c23-11e7-87de-5bed8ded478d.png)

[2017-06-28 09:06] joereynolds commented on #11
Oh, thanks!
Does tags need to already be defined in my init.vim?
I don't have any `tags=` assignments at the moment

[2017-06-28 09:07] jsfaint commented on #11
No need to set in init.vim, `gen_tags.vim` will do everything for you 😄
You can check it with `:set tags`

[2017-06-28 09:18] #11 closed

[2017-07-06 04:01] ronakg opened #12 "GTAGS are not getting generated in the background"
My settings

[code]

I see the message that it's starting the background process, but nothing happens.

[2017-07-06 06:12] jsfaint commented on #12
I can't reproduce this issue on my side  with windows, linux and macOS.
Which OS do you use and the vim version?
If your project is large, it will takes some time to generate gtags file. You need to check if the `gtags` process exist.

[2017-07-06 17:54] ronakg commented on #12
I'm running on Ubuntu 16.04.2
Neovim v0.2.0

It only takes 2 seconds when I run `gtags` manually on my project.

[2017-07-07 01:58] jsfaint commented on #12
I reproduced this issue on ubuntu16.04.2
It's because `gen_tags.vim` use `gtags -c` to generate gtags
The gtags version on ubuntu16.04.2 is a little old which don't support `-c` option

[code]

On Archlinux
[code]

I searched the GNU global maillist, for some reason (I still don't know) `-c` was remove in 5.7.1 and add back in 5.7.5
http://lists.gnu.org/archive/html/info-global/2009-03/msg00000.ht

[2017-07-13 03:19] jsfaint commented on #12
Hi @ronakg , do you have any update on this issue?
Thanks

[2017-07-14 19:51] ronakg commented on #12
It's working fine now. Thanks.

[2017-07-14 19:51] #12 closed

[2017-07-30 18:36] ahmedelgabri opened #14 "Idea: set tags to .git/tags_dir instead of ~/.cache/tags_dir?"
I like how simple this plugin is & how good it works. But one thing I think it can be better is where it stores the tags files. Right now it stores them in `~/.cache/tags_dir` which is ok, but I think it might be better to store them in `.git/tags_dir`.

This will make cleaning up tags files easier, because if you delete a project folder then you clear the tags files too + since the plugin already

[2017-07-30 23:28] jsfaint commented on #14
Good idea, thanks for advice.
But a little problem here is how shall we handle non-git source code?
Maybe just leave them in ~/.cache/tag_dir?

[2017-07-31 00:58] jsfaint commented on #14
Maybe I can add an option for it.
If the option is set, generate tags in project folder, otherwise generate tags in cache folder

[2017-07-31 06:21] jsfaint commented on #14
@ahmedelgabri I do some experiment on `ctags` branch, please take some time and have a look.
Wait for your advices 😄 Thanks

I add an option `g:gen_tags#ctags_use_cache_dir`, this variable is set to `1` by default. (To keep the old habit)
It will use `$HOME/.cache/tag_dir` as the base directory.

If you set this variable to 0 in your vimrc, it has two different behaviors:

* git repo

  It will us

[2017-07-31 08:03] ahmedelgabri commented on #14
Wow that was fast! 😄

One thing though, I think the plugin should always fallback to `~/.cache/tag_dir`

Will try the branch & let you know, thanks!

[2017-07-31 08:10] ahmedelgabri commented on #14
You are missing an `endif` [here](https://github.com/jsfaint/gen_tags.vim/commit/b1341c581f9c726ddd0a45f3af1f2d93d486dc95#commitcomment-23387227)

Also, I get these errors
<img width="637" alt="screen shot 2017-07-31 at 10 09 13" src="https://user-images.githubusercontent.com/63876/28768571-752f2cc0-75d8-11e7-8b37-0ad1873ec89c.png">

These are my settings

[code]

and I'm using `neovim` `HEAD`

[2017-07-31 08:56] jsfaint commented on #14
Sorry for the typo, should be works now.

But I can't reproduce "E730: using List as a string" issue, I used `neovim 0.2.0` both on windows and linux.
For my guess, maybe the parameter  format of job is changed in `neovim HEAD` version?
![image](https://user-images.githubusercontent.com/571829/28770249-0db3a34e-7611-11e7-9c9e-9cac32e9301b.png)

[2017-07-31 08:59] ahmedelgabri commented on #14
I dunno if that changed in `HEAD` but that's very minor for now it affects `let g:gen_tags#verbose = 1` so I'll disable this for now anyway. Thanks for the fix!

[2017-07-31 09:05] jsfaint commented on #14
OK, Thanks for clarify.

I found a neovim issue comment here.
https://github.com/neovim/neovim/issues/4266#issuecomment-189366997

It looks I need to modify the `s:job_stdout()` function.

Thanks again, I will merge `ctags` branch to `master` branch later.

[2017-07-31 09:10] ahmedelgabri commented on #14
I think for non-git repos the plugin should fallback to `$HOME/.cache/tags_dir` instead of `<project folder>/.tags_dir` what do you think?

[2017-07-31 09:11] ahmedelgabri commented on #14
Oops too late? 😄

[2017-07-31 09:12] jsfaint commented on #14
😄 It's never too late to get a good suggestion.
I believe it's an option too.

[2017-07-31 09:15] ahmedelgabri commented on #14
Haha. So the main idea is that if you have a git repo & you want store the tags files inside of `.git` then you can do it, otherwise everything works as before.

[2017-07-31 09:25] jsfaint commented on #14
OK~ I rewrite this part which cost less code 😃

[2017-07-31 09:49] jsfaint commented on #14
@ahmedelgabri Please check `ctags` branch, did it work as your expect now?
Thanks 😄

[2017-07-31 09:59] ahmedelgabri commented on #14
It works 👌🏼 thanks a lot @jsfaint!

[2017-07-31 10:24] jsfaint commented on #14
I rollback master branch to previous commit, sorry for the inconvenient

[2017-07-31 10:39] ahmedelgabri commented on #14
No worries, thanks!

[2017-07-31 10:39] #14 closed

[2017-09-17 22:04] lorainekv opened #18 "Request: Update ctags incrementally"
Hi there, mahalo for putting this project together. Only tested with ctags with autogen on since I'm not using any languages currently supported by gtags.

While making quick edits in vim, I noticed that my project's tags file would get stuck in an partially-written state (for example, a complete tags file of 50K lines would only have 3K lines after a quick edit to a project file)

Looks like ever

[2017-09-18 00:58] jsfaint commented on #18
I'm not sure which parameter is for incremental update in ctags.
Maybe you can try this, by setting `let g:gen_tags#ctags_opts = '-a'` in your vimrc

According to ctags help message,  `-a` or `--append` maybe suit for you

[code]

**BUT** I don't see any difference on my side, when I run both command for Linux Kernel.

[code]

[2017-09-18 02:29] jalcine opened #19 "Request: Blacklist Directories for Scanning"
Thanks for making this project! I have a suggestion that I'd like to propose before making a PR.

I typically run Neovim from my home directory. I then open tabs to present a separate 'project' in Vim. I notice, however, that ctags gets triggered _immediately_ from start, which makes it run against my home directory. All 200,000 files begin getting tagged which eventually freezes up my computer. M

[2017-09-18 05:20] jsfaint commented on #19
Good idea!
If you have any implement already, please create a PR for it. 😄
I need to find some spare time to do it this job later.

Thanks~

[2017-09-18 07:44] blip-lorist commented on #18
The time similarity in both commands is likely due to all tags still being generated for the `pwd` both times. I believe the `-a` flag just impacts the output.

According to ctags docs:
Indicates whether _tags generated from the specified files_ should be appended

To incrementally generate based on the current file being edited, is it possible to specify the current file for automatic generation?

[2017-09-18 07:59] jsfaint commented on #18
Hmm, which means `gen_tags.vim` need to run `ctags -a` for single file?
But it looks `-a` will not delete the symbol from tags file which was already deleted?

[2017-09-18 08:23] blip-lorist commented on #18
Yea, it is one possibility. Looks like the issue with `-a` would be keeping track of subtractive updates - the append with a single file seems like it would handle additive updates just fine.

Got curious about how [vim-gutentags](https://github.com/ludovicchabant/vim-gutentags) handles this. Their docs describe this workflow:

[2017-09-18 08:59] jsfaint commented on #18
I read the source code of `vim-gutentags`, it use platform dependent script to do this job..
I need to check how to do this with vimscript.

[2017-09-18 22:51] jalcine commented on #19
Tight. I can definitely begin working on that.

[2017-09-19 02:01] jsfaint commented on #18
@lorainekv
I have a dirty hack for this issue at [increament_update](https://github.com/jsfaint/gen_tags.vim/tree/increment_update) branch
`gen_tags.vim` supports incremental update now.
But for prune exist tags, I added a option `g:gen_tags#ctags_prune`  for it.
If `g:gen_tags#ctags_prune` is 1, `gen_tags.vim` will prune exist tags first.

The prune action will impact the performance when tagfile

[2017-09-19 08:04] jsfaint commented on #19
Hi @jalcine I have a solution here, please check if it meet your request 😄
Thanks

e.g.:

[code]

[2017-09-20 05:17] blip-lorist commented on #18
Nice, thanks for updating this. The subtractive and additive updates to tag files seem to be working now. :)

I am running into some surprising behavior though - I seem to now have tag files in both a project root (for a github repo) and in the ~/.cache/... path. This doesn't seem intended, since it's duplicate tag files. So when I attempt to find a function definition it asks me to choose from in

[2017-09-20 06:47] jsfaint commented on #18
What do you mean about 'git repo tag file'?
Did you generate tags file manually?

`gen_tags.vim` will only generate tags in `~/.cache/tags_dir` by default.
If you don't set `g:gen_tags#ctags_use_cache_dir` to 0

[2017-09-20 06:50] blip-lorist commented on #18
My bad, regarding the repo tag file, I had forgotten to uninstall another plugin I was testing out yesterday. Thanks for the increment update!

[2017-09-20 06:56] jsfaint commented on #18
You're welcome,  thanks for the report and clarify 😄

[2017-09-20 07:09] jsfaint commented on #18
I merged `increment_update` branch to `master` branch

[2017-09-21 01:52] #18 closed

[2017-09-26 23:39] jsfaint commented on #19
Hi @jalcine do you have any update?

[2017-09-27 02:56] jalcine commented on #19
Slightly. So I noticed that my issue was with how this plugin determines that it was in a Git directory. I have a `.git` directory in my `$HOME`; which triggers a whole transversal of that directory for ctags. That's the actual problem I'm having.

I'll send PRs to resolve both.

[2017-09-27 02:59] jalcine commented on #19
Hmm. Nope, that wasn't it. I'll still do this check tho.

[2017-09-27 04:37] jsfaint commented on #19
Hi @jalcine Have you check the blacklist branch in my repo?
I just rebase it into single commit.

[2017-09-27 08:23] jsfaint commented on #19
@jalcine

It was caused by a mistake in commit fc88257ac5640c0c9edc5f065fbff81b8ef08c65, which is path convert issue. I already fixed it in commit a0a785eb677d51c38459e96798592694fb38fe8e

[2017-09-27 15:29] jsfaint commented on #19
Fixed in #23
I tested on windows, linux and macOS, all work well
Thanks again @jalcine

[2017-09-28 07:07] jalcine commented on #19
Ah solid. Thanks for that catch.

[2017-09-28 07:07] #19 closed

[2017-10-01 13:57] ahmedelgabri opened #24 "the plugin is creating `.git/` folders"
This is my settings, but right now when I open a file in a directory that's not a git repo or subfolder of a git repo. It creates `.git/` folder to store the tags inside.

[code]

What I expect is the following since I have `let g:gen_tags#ctags_use_cache_dir = 0`
- When in a git repo (even in a subdirectory) the plugin should manage to find the root `.git/` folder & store the tags inside of it, i

[2017-10-01 17:00] jsfaint commented on #24
Sorry for the inconvenience.
I think it's a mistake when I refactor git detection in this commit 7d69eda7fa4d1e0c8b4d3a6a8b63de8af14a7ee3
But I on vacation of national day and I don't have computer right now.
I'll fix it ASAP when I get home.

Sorry again :sob:

[2017-10-01 17:02] ahmedelgabri commented on #24
No worries, enjoy your holiday 😊

[2017-10-01 17:15] jsfaint commented on #24
@ahmedelgabri For now, can you do me a favor please?
What's the output of following command.

[code]

Thank you~

[2017-10-01 17:30] ahmedelgabri commented on #24
@jsfaint

inside an empty buffer at `$HOME`

[code]

inside an empty buffer in a git repo

[code]

---
Then to reproduce the issue:

- `[n]vim foo.js`
- type `function foo () {}`
- `:wq`
- `ls -al` (you will find a `.git` folder now)

inside `foo.js` in a git repo subdirectory or `$HOME`

[code]

[2017-10-01 17:39] jsfaint commented on #24
Thanks for the details!
It' clear now, a bug in `gen_tags#find_scm_root`

[2017-10-06 07:49] jsfaint commented on #24
@ahmedelgabri Sorry for the long wait, I'm home now, but unfortunately I can't reproduce this issue.
Maybe there are some difference between our vimrc?

[2017-10-06 09:52] jsfaint commented on #24
I also tried the dotfile from your github, can't reproduce it either
I can't see the this behavior

There must be something wrong with my action step.

your dotfile is awesome by the way :+1:

[2017-10-06 10:03] jsfaint commented on #24
Sorry for the long wait. I'm home now
I reproduced this issue with your dotfile, still tracking it.

BTW: your dotfile looks awesome :+1:

[2017-10-06 15:09] jsfaint commented on #24
That's weird, I only reproduced this issue three times.
I can't find the correct step..

[2017-10-06 15:43] jsfaint commented on #24
@ahmedelgabri I found some weird behavior with your dotfile. Maybe you can give me some advice here

# Experiment as below:
I write a simple vimscript to call some functions

echo.vim
[code]
## Experiment 1

In the home, run `vim` to open a empty buffer, then `:source echo.vim`

my config
![image](https://user-images.githubusercontent.com/571829/31285512-1aa53424-aa81-11e7-8acb-f9ac5b4dc2d2.png)

[2017-10-06 16:58] ahmedelgabri commented on #24
That's weird indeed & I don't have any idea why my config is doing this 🤔 Will try to look into this. BTW, I mainly use `nvim` but the behavior looks the same so this doesn't matter.

Thanks! if you have any ideas how to improve it more, feel free 😄

[2017-10-06 17:05] jsfaint commented on #24
`gen_tags#find_scm_root()` return '' is caused by this setting in `plugin/settings.vim`

[code]

it ignores `.git` in vim, I guess

[2017-10-06 17:23] ahmedelgabri commented on #24
`:h wildignore`

`:h expand()`

So maybe you will need to pass the `{nosuf}` flag _I assume you depend on one of `expand()`, `glob()` or `globpath()` or is it a bad idea? Because I think having `.git` in `wildignore` is very common in general & shouldn't affect the plugin too

[2017-10-06 17:51] jsfaint commented on #24
@ahmedelgabri Thanks for the explanation, after add `{nosuf}` for `expand()` it works now.
![image](https://user-images.githubusercontent.com/571829/31291173-c58971c6-aa94-11e7-848e-1b50c79aa412.png)

Can you check if this issue is fixed? Thanks

[2017-10-06 18:02] ahmedelgabri commented on #24
Tested & seems to be working fine now 👍 Thanks!

[2017-10-06 18:05] jsfaint commented on #24
It's 2:00 am, I need to go sleep now.
Thanks for your great support.

[2017-10-08 07:56] ahmedelgabri commented on #24
I got the error again, but this time the replication is a bit odd might be a combination of https://github.com/mhinz/vim-startify & your plugin somehow.

1. go to a git repo & open any file (just to add it to the list of MRU files in Startify)
2. go to `$HOME` & open vim
3. type `0` to open the file from Startify screen
4. close vim
5. open vim again (you should get the error)

[2017-10-09 00:22] jsfaint commented on #24
@ahmedelgabri I reproduced this issue with startify.

[code]

That's because this code snippet

[code]

`s:project_root` was cached for some reason:
1. In the original code, `gen_tags.vim` use `system()` to find git repo root
It's boring in windows because the console windows
2. For non-git project, if you change the cwd will cause the project root change

But vim-startify will change the cwd whic

[2017-10-09 01:41] jsfaint commented on #24
You can also reproduce this issue by `:e` into a git repo folder

[2017-10-09 08:19] ahmedelgabri commented on #24
Looks like it's fixed now, thanks again for your help & quick fixes :)

[2017-10-09 08:19] #24 closed

[2017-10-09 08:55] jsfaint commented on #24
You're welcome, thanks for the report!

BTW I'm refactoring gtags support, add `use_cache_dir` for gtags, too
I need to change `g:gen_tags#ctags_use_cache_dir` to `g:gen_tags#use_cache_dir`
which will impact the existence setting, sorry for the inconvenience. 😢

[2017-10-09 09:03] ahmedelgabri commented on #24
No worries & thanks for the heads up 👍

[2017-10-16 08:07] coil398 opened #26 "!global command doesn't work after update."
After recent update, !global command doesn't work in vim.
Error: global command failed. command line: global --result=ctags-mod -qf 'hoge.py', or any other commands of global in vim.
When I disable gen_tags.vim, it works fine.

[2017-10-16 09:23] jsfaint commented on #26
It works fine for me, maybe some setting is different?
![image](https://user-images.githubusercontent.com/571829/31604626-7f082efe-b296-11e7-9dcf-3a690435412c.png)
![image](https://user-images.githubusercontent.com/571829/31604686-a7135f2c-b296-11e7-97b2-ae402ac4a009.png)

[2017-10-16 11:27] coil398 commented on #26
Thx for the quick response.

I did some experiments.

sorry, I misunderstood.
I finally know the !global command gets tags from GTAGS, GPATH and GRTAGS from ~/.cache/tags_dir/{sth} directory, not the same directory of the files, and need to make the tags files in it by executing :GenGTAGS.

It works OK on macOS, however in case which on debian 9, just the homeparallels(because I use debian9 on Par

[2017-10-16 12:32] jsfaint commented on #26
Sorry for the inconvenience, I changed the behavior in recently commit.
The db dir is set via `g:gen_tags#use_cache_dir` now.
The variable is 1 by default, and the db dir is `$HOME/.cache/tags_dir`.
If this variable is set to 0 and if the project is a git/svn/hg repo, the db dir will be `<repo>/.git/tags_dir/`

Sorry, I don't have parallel environment to test this issue.
Can you please check the v

[2017-10-16 13:15] coil398 commented on #26
All right, I got it from README.md.
I understood how cache works.OK.

Now, I checked the version of global and gtags on debian9.
global was v6.5.7, and gtags was v6.5.6, but on mac they both were v6.5.7.
So, I built the newer one, then I tried making tags.
Apparently, creating tags files is ok, I guess the difference between macOS and debian9(probably other linux os)is the name of the folder in ta

[2017-10-16 13:15] #26 closed

[2017-10-16 13:35] jsfaint commented on #26
In the original code, the gtags can be generated by `:GenGTAGS` in or `gtags` in terminal
And the GTAGS/GPATH/GRTAGS is stored in the root of repo directory.

But it is a little weird that ctags and gtags use different path to store the tags file.
So I changed the behavior, use the same folder for both ctags and gtags.

BTW: You can use auto-gen feature by set `let g:gen_tags#gtags_auto_gen = 1`,

[2017-10-17 05:19] coil398 commented on #26
I got it, indeed as you mentioned, it's strange.
I understood your thought.

yes, exactly I'm using the feature now.
thank you.

[2017-11-14 10:42] joereynolds opened #27 "[deoplete][gtags] Error: File does not exists"
After updating I now get this error, I have `global` installed and `GTAGS` is in the root of my project.
What file is this referring to?

Also it should read as "File does not exist" :)

[2017-11-14 11:50] jsfaint commented on #27
Oh, that's because from this commit [ca2fe1b81624d54fd2d726d54efd777b98c16837], the location of `GTAGS` file was changed.
You need to delete your `GTAGS`, `GPATH`, `GRTAGS` and generate it with `:GenGTAGS` command.
Sorry for the inconvenience.

The new location is depends on `g:gen_tags#use_cache_dir`, the default value is 1, the location is `$HOME/.cache/tags_dir`, if this value is set to 0, the

[2017-11-14 12:13] jsfaint commented on #27
I removed the debug message 😄
Can you have a try?

[2017-11-14 12:17] joereynolds commented on #27
Still seems to work!
Maybe some tests would help prevent regression?

Also what's the benefit of the scm vs cache_dir? Is one more performant than the other?

Thanks for the prompt fixes!

[2017-11-14 12:23] jsfaint commented on #27
I always want to add some tests but I'm not familiar with the vimscript test framework.

----

The idea is from @ahmedelgabri in #14
If the tags is stored in `.git` folder, you can just delete the project folder when you don't need the repo anymore, the tags will be also deleted.
Otherwise, you need to delete tags manually.

[2017-11-14 12:40] ahmedelgabri commented on #27
@jsfaint I'm not expert in vim testing too but maybe check https://github.com/w0rp/ale/tree/master/test

[2017-11-14 12:42] #27 closed

[2017-11-14 13:43] jsfaint commented on #27
@ahmedelgabri Thanks, I'll have a look later:blush:

[2017-12-06 07:09] fcying opened #28 "GSYMS not delete by ClearGTAGS"
os:ubuntu 16.04
vim8

GenGTAGS
ClearGTAGS
GSYMS not delete.

:ClearGTAGS! can not run,  error log "E477: can not use '!' "

:ClearCtags! run normally

[2017-12-06 07:22] jsfaint commented on #28
1. What is `GSYSMS`?
Never saw it before on other OS 😭
Does global on Ubuntu different with other OS(windows, archlinux, macos)?

2. It's my bad I forget to add `-bang` in `command`, will fix it later

Thanks for the report

[2017-12-06 07:24] fcying commented on #28
ubuntu16.04 default version use apt-get install:
global --version
global - GNU GLOBAL 5.7.1
Copyright (c) 2008 Tama Communications Corporation
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
This is also commercial (for-profit) software based on BOK

[2017-12-06 07:25] jsfaint commented on #28
I search on google, and got this:
https://github.com/oseiler/global/blob/4ed65296dbe97432d0fec5d175682970f2657775/FAQ#L176

[code]
Oh.. Ubuntu still use the very old version of global

[2017-12-06 07:32] jsfaint commented on #28
Fixed. Thanks for the report @fcying

[2017-12-06 07:37] fcying commented on #28
It work fine now~~

[2017-12-06 07:37] #28 closed

[2017-12-12 09:17] leihuxi opened #29 "Function name does not match script file name: gen_tags#mkdir"
I got below issue:
Error detected while processing /home/xileihu/.vim_runtime/plugged/gen_tags.vim/autoload/gen_tags/ctags.vim:
line   45:
E746: Function name does not match script file name: gen_tags#mkdir

vim version:
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Dec  8 2017 12:47:23)
Garbage after option argument: "-version"
More info with: "vim -h"

[2017-12-12 09:39] jsfaint commented on #29
Oh.. I checked the source code, there are two `gen_tags#mkdir()` exist.
It's a bug caused by last refactoring.
I'll remove it later.

But the weird thing is, I can't reproduce the error on my side (windows and linux with vim8/neovim)

Thanks for the report

[2017-12-12 10:23] #29 closed

[2017-12-12 10:28] jsfaint commented on #29
@leihuxi Can you have a try with latest code please?
Thanks

[2017-12-15 06:39] leihuxi commented on #29
Perfect, thank you.

[2017-12-15 06:49] jsfaint commented on #29
Thanks 😄

[2018-01-28 01:20] jeromedalbert commented on #18
I like the idea and I would like to use this prune+increment feature, but there a few problems currently that don't make it very usable.

@jsfaint Would it be possible to make the "hack" in `s:ctags_prune` async by using async jobs? Because otherwise it defeats the purpose of an async plugin. On Unix it would be by using grep or sed I guess.

Also, if I have `g:gen_tags#ctags_prune` set to 1 and I

[2018-01-28 12:34] jsfaint commented on #18
@jeromedalbert Sorry for the late reply.
It's known issue which is limitation of pure vim script.

Yeah, I know sed is very efficient, but it only works on *nix platform.
I want gen_tags.vim work on both windows and *nix platform

So I need to find a way which do same thing with sed on windows, or rewrite this part in Python.
Sorry, I do not have spare time to look into this currently.
PR will be

[2018-03-03 19:07] joereynolds opened #31 "Performance problems"
On my machine at home, gen_tags is for some reason, a major bottleneck.
Even a simple command like `:help ls` will stall for 2-3 seconds.

I've ran some profiling on it (I do have other plugins too) and this is the main result:

[code]

I've attached the file so you can see where the bottlenecks are coming from, note that the majority of it seems to be in `gtags_add`

[code]

Output of `global --v

[2018-03-03 19:19] joereynolds commented on #31
Hey @jsfaint

Sorry for the false alarm, it was actually a [bug in Global 6.6.1](http://lists.gnu.org/archive/html/info-global/2018-02/msg00000.html)  and has since been fixed!

[2018-03-03 19:19] #31 closed

[2018-03-04 01:00] jsfaint commented on #31
:smile: Thanks for your clarification.

There is a known performance issue in ctags prune operation

:sob: I still no idea how to fix it in pure vimscript

[2018-03-04 12:46] jsfaint commented on #18
Due to the the exuberant ctags is not maintained anymore, the successor recommendation
 is universal ctags from now on.

There is feature request in https://github.com/universal-ctags/ctags/issues/1421
If this feature is implemented, the ugly prune in vimscript can be removed and the performance should be improved in same time.

Let's see what will be happened. 😄

[2018-03-12 09:57] butterflyfish opened #32 "REQ: user event to load own key mapping"
after tags are loaded, trigger user event, then user can add own key mapping.

for example, if language server is supported, 'gd' will map to related function.  in order to share the same key mapping, i hope this feature can be implemented.

https://github.com/autozimu/LanguageClient-neovim provide similar feature.

[2018-03-12 10:00] jsfaint commented on #32
vim has built-in mapp for tag jumping `<C-]>` which means `Ctrl-]`

[2018-03-12 14:17] butterflyfish commented on #32
@jsfaint i know. but i want to **map 'go to definition' to different interface based on plugin/filetype**. For c, when llvm/clang can not use, gen_tags is a good alternative, for language supported programming language, map to LanguageClient_textDocument_definition like

[2018-03-13 01:03] jsfaint commented on #32
You can map it in your vimrc, like this
[code]

[2018-03-13 06:19] butterflyfish commented on #32
if GTAGS loaded, map gd to <c-]>
if Language server is started, map gd to LanguageClient_textDocument_definition

for some projects e.g.  cross compiling, Language server can not use. then this plugin is a good alternative.

just want to know when GTAGS is loaded, and allow user to define own hooks.

[2018-03-13 07:11] jsfaint commented on #32
If the GTAGS file exist, it will be loaded in `BufWinEnter` event.

[code]

There is an ` augroup gen_gtags` for `gen_tags`, but I think it is not what you are looking for.

[2018-03-13 08:43] butterflyfish commented on #32
please help implement interface that allow user to define its own key mapping after GTAGS are loaded.
thank you very much!

[2018-03-13 08:50] jsfaint commented on #32
`gen_tags.vim` use vim built-in function for tag jumping.
There is no need to implement an interface to archive this job.

Everything you need is this map for the filetype that doesn't supported by the languageClient
[code]

[2018-03-13 09:30] butterflyfish commented on #32
would you like to merge patch below ?

[code]

example configuration in vimrc
[code]

if mapping gd to ':cs find c <C-R>=expand('<cword>')<CR><CR>', I found it works only first time. open c file, gd can help jump to definition on function, use <c-o> to come back, gd does not work now.

[2018-03-13 09:53] jsfaint commented on #32
Thanks for the reply, but I'm not sure if I understand your purpose correctly.

`s:gtags_add()` will be called in 2 conditions:
1. In `BufWinEnter` event
2. In callback function of `:GenGTAGS` command

And if the `GTAGS` file exist, it will be always loaded by `cs add`

So why do you need a event and run it multiple times for just repeat add the map?
Do you mean languageClient will overwrite it?

[2018-03-13 13:52] butterflyfish commented on #32
The purpose is simple. I want to map one key map, like gd, to different action automatically. project use GTAGS, map one key to cscope action, while project use Language server(like cquery), map the same key to LanguageClient interface action.

Based my understanding, GTAGS is only added once via BufWinEnter or :GenGTAGS, key map in augroup *gtags* are loaded one time also.

if anything is wrong,

[2018-03-13 14:18] jsfaint commented on #32
This the document of `BufWinEnter` event.
[code]

----

I think it is a better solution for your case:
[code]

Set buffer-only map for the filetype supported by LanguageClient

[2018-03-13 14:54] butterflyfish commented on #32
"autocmd !" help clear autocmd group, so I think it's acceptable for BufWinEnter.

some C project use gtags, some C project use Languager server(e.g. cquery). I just want to apply the same key map for gtags and language server protoocl. If project use cquery, i define keymap after Language client started event is issued.

[code]

[2018-03-14 01:26] jsfaint commented on #32
OK, I think I get your point now.
It' OK to me for adding an event for User.

But I need to think about how to implement it.
As you know, `gen_tags.vim` support `ctags` and `gtags`, if I use same event in `ctags` and `gtags`, will cause the event triggered twice. That's not what we expected.

----
Just curious
I'm not familiar with `LanguageClient`, did the `LanguageClientStarted` event triggered

[2018-03-14 03:26] jsfaint commented on #32
@butterflyfish I added two events `GenTags#CtagsLoaded` and `GenTags#GtagsLoaded`

[2018-03-14 07:18] butterflyfish commented on #32
@jsfaint , good job. thank you very much!

[2018-03-14 07:42] jsfaint commented on #32
You're welcome 😄
If the commit fit your requirement, please close the issue. thanks

[2018-03-14 07:44] #32 closed

[2018-03-21 06:05] rawcoder opened #35 "Jumping to wrong path when `autochdir` is set"
Hi,

The tag jump (using C-]) doesn't work when [`autochdir`](https://vimhelp.appspot.com/options.txt.html#%27autochdir%27) option is set.

gen_tags seems to be using the directory in which neovim was invoked rather than the current directory.

[2018-03-21 08:39] jsfaint commented on #35
It's limitation of vim built-in tag system, the path will be stored in the tag file.
I have no idea how to fix it yet.

[2018-03-21 08:44] rawcoder commented on #35
But ctags seem to be working in this case.  Could it be because of gtags?

[2018-03-21 08:54] jsfaint commented on #35
Yes, it's related to gtags, maybe I can try to fix it.
I already fix this issue partially before by adding `gen_tags#find_project_root()` function.

I just recalled this,  sorry for the wrong info above.

[2018-03-21 09:02] jsfaint commented on #35
@rawcoder Can you verify branch `fix`, if it fix this issue? thanks

[2018-03-21 09:24] rawcoder commented on #35
It's not working :(

For your reference here's the script I'm following:

[code]

[2018-03-21 14:54] jsfaint commented on #35
I reproduced your behavior with the code above.

I have a look at the help of `autochdir`
[code]

It says

Do you know how did other plugin live with `autochdir`?

[2018-03-21 15:38] jsfaint commented on #35
I searched on google, it looks `if_cscope` use relative path by default.
So I added `set nocscoperelative`, it works for me with your test example.
Can you have a try with `fix` branch?

Thanks

[2018-03-22 04:26] rawcoder commented on #35
It is working in some cases but, unfortunately, failing in others.

Here's a test case for which it is failing:
[code]

[2018-03-22 12:29] joereynolds opened #37 "Potential usability issue (Dont suppress gtags errors)"
if you try and do `gtags` in a file that you do not have access to, the whole indexing of tags fails.

For example, I had a `.log` file owned by `root` which I couldn't read.
`gen_tags` would generate empty `GTAGS` `GPATH` and `GRTAGS` files.
I realise this is a `gtags` problem and nothing to do with `gen_tags` but thought I would flag it up.

When you manually call `gtags` in a project, at least

[2018-03-22 23:16] jsfaint commented on #37
The return code and output is not handled currently.
If we need this feature, I need to rewrite job control part.

[2018-03-28 18:32] staycreativedesign opened #38 "Question... Every time I go in Vim and load a project I have to do :GenCtags?"
Silly question Im loading up a project lets say ~/Projects/foo then I do ```:GenCTAGS``` great everything is working now I close vim and goto the same project the tags arent saved? Is it because its in a tmp dir?

[2018-03-28 19:25] staycreativedesign commented on #38
Even better I've set
```let g:gen_tags#use_cache_dir = 0```
so it creates a ```.git/tags_dir/prj_tags

But it cant find the tags in that folder
when I set it to ```1``` it can now find the tags?!

[2018-03-29 01:16] jsfaint commented on #38
By default `g:gen_tags#use_cache_dir` is 1, the tag file is under `$HOME/.cache/tag_dirs`

I'm not sure if your project is git based or not.
The option `g:gen_tags#use_cache_dir` only effect the project that managed by `git/svn/hg`.

[2018-04-01 14:46] jsfaint commented on #37
Sorry for the wrong message above.
I just checked the source code. this feature is implemented already.
[code]

But you need write this in vimrc to enable it.
[code]

[2018-04-03 03:15] hunanchenxingyu opened #40 "Error detected while processing function <SNR>13_ctags_gen..gen_tags#system_async..<SNR>26_job_start:"
Does anyone met the problem above when i run the "GenCtags" in vim ？

[2018-04-03 03:22] jsfaint commented on #40
Do you upgrade to the latest master? This issue was fixed by commit 7bb947d2a5fee45b3e058adf29d43be0a59262a6 and 39c057253aff63453fdd56e0eb8541a3effb03d4 already

[2018-04-03 03:31] hunanchenxingyu commented on #40
Yes，I download it just now, and i am working on the ubuntu-12.04(vim: 7.3.429, Python 2.7.6).

[2018-04-03 03:45] hunanchenxingyu commented on #40
@jsfaint Have you any other suggestions ?

[2018-04-03 03:48] jsfaint commented on #40
OK. `vim: 7.3.429` is the old version which don't support `jobcontrol`, I'll check it later.

[2018-04-03 03:52] hunanchenxingyu commented on #40
Thank you

[2018-04-03 05:36] jsfaint commented on #40
I checked the help of vim, use list as input of system() was added in vim 7.4.247.
[code]

I'll make a patch to fix this issue.

[2018-04-03 05:42] hunanchenxingyu commented on #40
Get it, Look forward to your patch.

[2018-04-03 05:53] jsfaint commented on #40
@hunanchenxingyu Please check the latest mater branch. thanks

[2018-04-03 06:18] hunanchenxingyu commented on #40
Yes, i try it, it looks right when i run the "GenCtags", but can't generate the tags file in [home]/.cache/tags_dir/xxx. There are some errors when i run "ClearCtags!", as follows:

[2018-04-03 06:44] jsfaint commented on #40
It's a typo in source code, I'll fix it.

line 18:
E118: Too many arguments for function: delete

That's because vim 7.3.429 don't support parameter for delete(). I'll add a workaround for it.
[code]

BTW: I suggest you upgrade to newer version of vim, if possible. 😄

[2018-04-03 06:58] hunanchenxingyu commented on #40
Ok, I have upgraded the vim to 7.4.692 just now, and it also can't generate the tags.

[2018-04-03 07:04] jsfaint commented on #40
@hunanchenxingyu Fixed
I test on vim 7.4.692 which also don't support jobcontrol.
It works now.

[2018-04-03 07:31] hunanchenxingyu commented on #40
It will result in the terminal stuck after using the shortcut key "ctrl + ]" to skip.

[2018-04-03 07:40] jsfaint commented on #40
Do you use a huge codebase?
ctags is very slow when the tags file is large.

It's limitation in ctags, It can't be fixed by `gen_tags.vim`

[2018-04-03 08:15] hunanchenxingyu commented on #40
@jsfaint the tags file is only 460M, and i found it maybe result in the terminal stuck when generate the tags background.

It will report a warning when i set the parameter as follows:

**ctags: Warning: -f option specified more than once, last value used^@ctags: Unknown option: -l^@**

Do you have any better suggestions to me ? thanks.

[2018-04-03 08:24] hunanchenxingyu commented on #40
I have resolved it, and lack of "-" in g:gen_tags#ctags_opts, as follows:

The gen_tags is work well at present, thanks for @jsfaint 'help again.

[2018-04-03 08:30] #40 closed

[2018-04-04 01:46] jsfaint commented on #37
@joereynolds Can you help to check if the current implementation working for this issue, please?
Thanks~

[2018-04-11 02:53] jsfaint commented on #37
@joereynolds ping~

[2018-04-11 02:54] jsfaint commented on #38
@staycreativedesign Any update?

[2018-04-12 07:41] joereynolds commented on #37
Hey jsfaint,

I haven't gotten round to replicating the issue but the next time it happens I'll set the verbose option and let you know.

Thanks!

[2018-04-12 07:41] #37 closed

[2018-04-12 07:45] jsfaint commented on #37
@joereynolds Roger that, thanks!

[2018-04-24 06:53] Govinda-Fichtner opened #41 "Disable Update GTags in the background message"
After enabling autoupdate for gtags everytime I open a file with vim I get the "Update Gtags in the background" message AND I have to acknowledge it by hitting <enter>. Only then can I work on the file.

Is there a way to disable the message and the need to hit <enter>?

[2018-04-24 06:55] jsfaint commented on #41
Did you set `g:gen_tags#verbose = 1` in your vimrc?
Please remove it. 😄

[2018-04-24 08:02] Govinda-Fichtner commented on #41
Well, I thought I removed it, but there was a similar config from another tags plugin present that I tested. Sorry for the noise!

[2018-04-24 08:02] #41 closed

[2018-04-24 08:55] jsfaint commented on #41
Can I ask which plugin has similar config? Just curious 😀

[2018-04-25 08:40] Govinda-Fichtner opened #42 "How to check that the nvim-completion-manager integration works with gtags"
I have gen_tags running successfully. I also have ctags and gtags files in `$HOME/.cache/tag_dirs`.

How can I check now that the advanced capabilities of gtags are working. What kind of commands can I use in vim to see my configuration is correct?

[2018-04-25 09:23] jsfaint commented on #42
The ncm gtags source is out-of-box.
If you installed ncm correctly, it should be work then.
I read the doc of ncm, maybe you can refer the link below
https://github.com/roxma/nvim-completion-manager/blob/master/doc/nvim-completion-manager.txt#L773

[2018-04-25 09:39] Govinda-Fichtner commented on #42
OK. I just noticed that ncm is not maintained any more. So I am thinking about moving to deoplete... how about there?

[2018-04-25 09:59] jsfaint commented on #42
It's out-of-box too, but I don't know how to check the enabled source.
Maybe you can enable deoplete logging and check the log file
[code]

Sorry

[2018-04-25 10:11] Govinda-Fichtner commented on #42
While enabling this my deoplete autocompletion stopped working. After removing these lines it started to work again. But I noticed that deoplete does show the source of the completion and I had entries with gtags. So I suppose it works. Thanks for you help!

[2018-04-25 10:20] jsfaint commented on #42
😀 You're welcome

[2018-04-25 11:12] #42 closed

[2018-05-06 13:29] yangyinqi opened #43 "Blacklist does not seem to work."
Hello,
I tried to set `gen_tags#blacklist` to avoid tags generation when I open the vim plugins help docs.But I found that there were still tags dir in ~/.cache/tags_dir, such as **homeyangcisvimpluggedgen_tagsvim**, or **homeyangcisvimpluggedvim-airline**.
The complete gen_tags plugin settings are:
[code]
Expect your answer. Thank you!

[2018-05-07 01:24] jsfaint commented on #43
Because the gen_tags compares the full project path with `g:gen_tags#blacklist`

When you set
[code]
It only skip `/home/yangcis/.vim/plugged`, it doesn't include the sub directories.

The original requirement is from #19 , @jalcine wants to avoid generate tags for `$HOME` dir, if gen_tags skip the sub directories, that everything will be in the blacklist.

Sorry for the confusion

[2018-05-07 08:05] shawnyangcis commented on #43
OK, I've got it. Maybe you can provide another variable, to support the feature.

[2018-05-07 08:58] jsfaint commented on #43
I don't have much time to implement this feature right now.
Pull-Request will be appreciated 😄

[2018-05-09 15:02] dsummersl opened #44 "[feature request] add ability to pass options to gtags command (to filter/exclude files)"
For larger projects gtags generates ginormous files including 3rd party dependencies I don't care about - it would be great if it were possible to, at a minimum, generate the files that gtags processes. Ideally having the ability to respect ignored things in a SCM .ignore (.hgignore, .gitignore, etc) would be even better.

[2018-05-10 01:30] jsfaint commented on #44
I don't have much time on this.
PR will be appreciated 😄

GNU Global don't have built-in ignore support.
But it supports file list, maybe we can generate a file list and then remove the ignore file from it

[2018-05-19 13:39] huyvohcmc opened #46 "gen_tags doesn't seems to work at all"
I have installed gen_tags and try it with a medium size project (500 MB). Here's my settings:

[code]

When I open the project, there is nothing happen, I try to use `Ctrl + ]` and neovim results with "no tags file". I thought `ctags_auto_gen` will automatically generate tags file, no? `:GenCtags` doesn't do anything, and neither `<project folder>/.git/tags_dir` or `$HOME/.cache/tags_dir/<project

[2018-05-19 23:21] jsfaint commented on #46
1. `g:gen_tags#ctags_auto_gen` it only works for git/svn/hg repository. If you don't have it, you will need to run `:GenCtags` manually.
2. `gen_tags#blacklist` only for ignore some folder like `$HOME`, it is still very limited.
3. Because your codebase is large, it will takes some time to generate tags in background. So please don't exit vim before it finished.
4. You can enable verbose mode to s

[2018-05-20 04:12] huyvohcmc commented on #46
My project is a git repository, it's weird that `ctags_auto_gen` doesn't work. Is there any way I can use the status line to see the tag generation process?

[2018-05-20 07:54] jsfaint commented on #46
Which OS do you use?
You can check the process manager, if there is a process called ctags.
And also, if you run `:!ctags`, what do you get?

[2018-05-20 08:04] huyvohcmc commented on #46
I'm using mac os, and by using verbose I can see that the tag generating process does actually work (it just took longer than I thought).

However, it is still a little bit unclear to me, I don't want to open the process manager just to see if gen_tags has done its job. In vim-gutentags you can set up the status line to show something like `[ctags]` when it starts tag generating and disappear when

[2018-05-20 08:20] jsfaint commented on #46
Thanks for advice, I think maybe I can add a feature to display the status on statusline.
But I don't have time to do this right now.

[2018-05-27 11:56] fcying opened #47 "[feature request] Add an option to detect if tags exist for auto_gen"
If have already generated a tag, it will automatically update, else not auto_gen

[2018-05-28 00:44] jsfaint commented on #47
The auto-update will be done in background after the files were modified.
Why do you need an option for it? Do you want to disable auto-update?

[2018-05-28 02:09] fcying commented on #47
I have some project, only C++ project need tags and auto_gen.
If I enable auto_gen, it will gen tags in all project.
So i want check the tags file at first,  if exist(has been manually run gen_tag), auto_gen, else disable auto_gen.

[2018-05-28 03:41] jsfaint commented on #47
Maybe you can disable auto_gen by using local vimrc (per project).
vim has built-in support, it can be enabled by
[code]

There are also some plugins can do this job.
Like https://github.com/embear/vim-localvimrc

For myself, the auto gen feature was disabled always, I generate tag by hands (only once), then it will update automatically.

[2018-05-28 06:50] fcying commented on #47
just enable auto_gen in C++project, it can work now, thanks
[code]
.vimconf in project root dir
[code]

[2018-05-28 06:50] #47 closed

[2018-06-01 05:10] shawnyangcis commented on #43
I have got a solution:
[code]

[2018-06-04 02:47] rslindee opened #48 "Remove default Ctrl+\ mappings (or make optional)"
I think the default-provided Ctrl+\ mappings for cscope hotkeys are a great inspiration, but defaulting them to being enabled might be a little intrusive for some (e.g. those who already have Ctrl+\ combinations mapped).

In my opinion, making said mappings optional (via something like g:gen_tags#gtags_mappings) or, even better, removing them entirely and providing instructions/examples on how to

[2018-06-04 05:35] jsfaint commented on #48
Thanks for your great affirmation 😄

This plugin was started from my personal vimrc
As you say, it is intrusive for someone else. I was thinking to change it long time ago.

The mapping was inspired from [cscope_maps.vim](http://cscope.sourceforge.net/cscope_maps.vim), after several years the maps becomes some kind of muscle memory for me.
I'm a little afraid that if I remove the default mapping w

[2018-06-04 06:05] jsfaint commented on #48
I added an option `g:gen_tags#gtags_default_map` for this issue. @rslindee

[2018-06-04 07:05] jsfaint commented on #38
Since there is no update for almost 2 months. Close it.
If you have any question please feel free to reopen this issue, thanks

[2018-06-04 07:05] #38 closed

[2018-06-04 18:55] rslindee commented on #48
Sounds great! I really appreciate your quick turnaround with this.

[2018-06-04 21:20] rslindee commented on #46
FYI - I use lightline instead of airline and it looks like these latest changes generate the following errors when attempting to run GenGTAGS without airline installed:

Error detected while processing function <SNR>50_gtags_db_gen[32]..gen_tags#system_async[15]..<SNR>51_job_start[1]..gen_tags#statusline#set:
line    9:
E121: Undefined variable: w:airline_active
E15: Invalid expression: w:airline_

[2018-06-04 23:31] jsfaint commented on #46
@rslindee Oh, sorry for the inconvenience. I'll fix it later.
It's not based on airline, it's just need to disable airline.

[2018-06-04 23:36] jsfaint commented on #46
Fixed.
@rslindee Can you kindly help to test if it works with lightline now?
Thanks!

[2018-06-04 23:58] rslindee commented on #46
@jsfaint - This indeed fixes the error when I attempt to generate GTAGS. With that said, I now get the message:

gen_tags.vim Generate tags in background, please stand by...

This message stays permanantly, even after the gtags file has been correctly generated and the operation is finished (this is a pretty small project I'm testing with). This even occurs when I have my lightline plugin disabled

[2018-06-05 00:42] jsfaint commented on #46
@rslindee Thanks for your testing.
I'll correct the phrasing and disable statusline by default.
Sorry, I'm not native, may English sucks as always 😆

I tested with neovim, it works. I'll test with vim later.
Which OS do you use for?

[2018-06-05 01:57] jsfaint commented on #46
@rslindee It looks statusline feature still have many issue
I need to rollback the master branch, and create a branch for it.
Please fetch it and reset to origin/master. I'm sorry..
[code]

[2018-06-05 02:17] fcying opened #49 "Can I redir search result to quickfix list"
Sometimes only need to show related content, no need to jump

[2018-06-05 02:49] jsfaint commented on #49
Yes, it's vim built-in feature.
You can enable it by add this snippet in your vimrc.
[code]

But the default mapping will not works, you need to type the cscope command, like
[code]

I'm not sure if there any solution to fix it, I'll look into it when I have some spare time.

[2018-06-05 02:53] fcying commented on #49
it work fine, thanks~~
[code]

[2018-06-05 02:53] #49 closed

[2018-06-05 02:55] jsfaint commented on #49
I just realized that I set `let g:gen_tags#gtags_default_map = 0`  in vimrc 😢

[2018-06-05 03:59] rslindee commented on #46
No worries at all! Thanks for putting this feature on a branch in the meantime.

I'm running this on Linux (Arch and Fedora, specifically). Both appear to be having similar behavior from what I've seen.

[2018-06-06 15:58] jsfaint commented on #46
@rslindee I just fixed the issue that you mentioned above

That's because I forget to handle the exit callback of `global -u` command, it is for gtags update.

Could you have a try?
Thank you 😄

[2018-06-06 17:00] rslindee commented on #46
@jsfaint - I just tested with the statusline branch. My test project is pretty small, so I only see a brief flash of the message, but it looks to be behaving correctly for me!

I think we're good. Great work on the fix.

[2018-06-07 00:48] jsfaint commented on #46
@rslindee Thanks for your great help! I'll merge it later.

Another question: should I enable this feature by default? Does it intrusive to you?

[2018-06-08 09:07] czlhs opened #51 "if HOME path contain backspace on windows, it doesn't work"
change the tagdir  in gen_tags.vim solved it,
[code]

[2018-06-08 14:56] jsfaint commented on #51
Sorry, I didn't get your point.
Could you give some more description, please?

[2018-06-10 07:11] maxtcy opened #52 "gtags keymapping is not working"
Hi Sir,
i am using [gen_tags.vim].commit = '29ce12c' .
below is my gen_tags setting in vimrc
Enabe gtags and try to use the keymapping of cscope .
![image](https://user-images.githubusercontent.com/7471380/41199268-5a06b270-6cc1-11e8-8d94-7fa791c800b0.png)

However, when i press below keymaping there is no response. The keymapping is OK as using ':map' in vim. See below screenshot
![image](https:/

[2018-06-10 07:34] jsfaint commented on #52
The mapping works out-of-box without any setting.
The map `ctrl+\ c` is a combo key, you can't press the 3 keys in same time
You need to press `ctrl+\` first, A symbol will show in the right bottom corner
![image](https://user-images.githubusercontent.com/571829/41199377-7483a944-6cc3-11e8-9db1-08f71a5ad413.png)
Then release `ctrl and \`, and press `c`

[2018-06-10 08:03] maxtcy commented on #52
Hi Sir,

What kind of information do you need to debug this problem?
Since i also replace the "ctrl+\\+c" with echo message , i could see the message i add.
But not the cscope function.

Regards,

[2018-06-10 08:32] jsfaint commented on #52
Sorry for my bad English, maybe I'm not describe this clearly.

The map triggering step as below:
1. Press down `ctrl` and hold it
2. Press `\`
3. Release these two keys
4. Press `c`

You **MUST** release `ctrl` key before press `c`, it's feature of vim mapping.
Because the map is `<C-\>c` not `<C-\><C-C>`

The message shows up because of `ctrl+c` is a special key in vim.
If you press `ctrl+c` dir

[2018-06-10 08:51] jsfaint commented on #52
Do you try any other mapping?
Some GTAGSLABEL don't support caller or reference function(like ctags and pygments).
Maybe you should remove all your settings in vimrc and try again.

You can also run the cscope command directly
[code]

[2018-06-10 12:23] fcying commented on #47
use event work perfect, not need project config.

if my project need tag, run `<leader>tg` once, and then it can auto gen.

[code]

[2018-06-11 02:05] maxtcy commented on #52
Hi Sir,

I try to use command in vim, like you mentioned, `:cs find c <cword>`.
I could oberve the quickfix window pop with corresponding searching result.

[2018-06-11 04:18] jsfaint commented on #52
Did you set `cscopequickfix` in your vimrc?
By default cscope will not use quickfix window.

[code]

Everything works fine on my side, with 3 different machine and different OS.

[2018-06-11 05:57] #46 closed

[2018-06-11 06:03] #43 closed

[2018-06-11 06:56] maxtcy commented on #52
Do you mean you add `cscopequickfix` in your vimrc?
And everything is working fine.
If so, can you share your vimrc for reference ??

Besides, can you confirm the usage of my `g:gen_tags#ctags_opts` usage?
For multiple property to setup for ctags, using `g:gen_tags#ctags_opts += xxxx` is OK or not

[2018-06-11 07:39] jsfaint commented on #52
All my vimcfg is in here https://github.com/jsfaint/nvimcfg
And the plugin list is https://github.com/jsfaint/nvimcfg/blob/master/plugin.vim
Nothing special config for gen_tags.vim

And `g:gen_tags#ctags_opts` is a string, it looks vim don't support `+=` operation for script.
Only list support `+=` operation

[2018-06-11 07:48] jsfaint commented on #52
The string concatenation opeartor is `.`
You need to modify your code into
[code]

[2018-06-11 08:35] #52 closed

[2018-06-11 09:22] fcying opened #53 "file save will lost tag data"
reproduce ways:
[code]

config
[code]

[2018-06-11 09:43] jsfaint commented on #53
Oh, I reproduced this issue.
I'll check into it later

[2018-06-11 09:47] fcying commented on #53
vimrc
[code]

ctags --version
[code]

vim 8.1 1-5

[2018-06-11 10:05] jsfaint commented on #53
I found the root cause, this bug came from this commit bdabdba754c0bc4d840b30c8fae13174e04c5ae9

[2018-06-11 10:44] jsfaint commented on #53
@fcying Fixed, could you have a try?

[2018-06-11 10:48] fcying commented on #53
it work fine now~

[2018-06-11 10:48] #53 closed

[2018-06-11 10:48] jsfaint commented on #53
@fcying Thanks for your report and help 👍

[2018-06-11 12:38] fcying opened #54 "If the previous GenGTAGS exit abnormally, it will not be updated by use GenGTAGS again"
reproduce ways:
[code]

[2018-06-11 13:12] jsfaint commented on #54
Yes, it's known issue, it's a limitation in global commands.
[code]

Maybe I can check the size of gtags files, if the file size is 0, then delete it and generate again.

[2018-06-11 13:24] jsfaint commented on #54
@fcying fixed. thanks 😄

[2018-06-12 01:27] #54 closed

[2018-06-12 09:32] jsfaint commented on #51
Do you mean the tagdir which includes space? @czlhs

[2018-06-13 08:37] maxtcy opened #56 "ctags can't add g:gen_tags#ctags_opts parameter , it would pop "-f option may not follow a file name""
Hi Sir,

gen_tags.vim version is
![image](https://user-images.githubusercontent.com/7471380/41339291-0573e2d8-6f27-11e8-9ff9-0d9f1105f1c5.png)
It shoud be the latest one.

If add `g:gen_tags#ctags_opts` in my vimrc, it would pop up `ctags: -f option may not follow a file name`
Message as below
![test](https://user-images.githubusercontent.com/7471380/41339571-c3c41280-6f27-11e8-910f-f86ba4d831ad.p

[2018-06-13 08:54] jsfaint commented on #56
I can't reproduce on both windows and linux.
![image](https://user-images.githubusercontent.com/571829/41340525-2f3b9e46-6f2a-11e8-91db-355d1c84a35c.png)

![image](https://user-images.githubusercontent.com/571829/41340778-bee38248-6f2a-11e8-9d07-e277a3fb1eb0.png)

[2018-06-13 09:12] maxtcy commented on #56
How should i do to provide more information for you about this problem?

[2018-06-13 09:23] jsfaint commented on #56
Please provides the following information:
1. vim version, ctags version
2. value of  `g:gen_tags#ctags_opts`
3. Run ctags command directly with the parameters on your image

[2018-06-13 09:53] maxtcy commented on #56
1.
 vim version
![image](https://user-images.githubusercontent.com/7471380/41342913-e8265f4a-6f2f-11e8-965f-33645e2909f1.png)
ctags version
![image](https://user-images.githubusercontent.com/7471380/41342951-fcd7e0f8-6f2f-11e8-918b-303078384d1a.png)

2. value of `g:gen_tags#ctags_opts`
![image](https://user-images.githubusercontent.com/7471380/41343023-2876490c-6f30-11e8-9b83-0316786ac1f2.png)

3.

[2018-06-13 10:42] jsfaint commented on #56
I reproduced it with vim 8.1, but neovim 0.3.0 works well.
That's weird.

[2018-06-13 10:44] jsfaint commented on #56
And when I modified your `g:gen_tags#ctags_opts` setting.
Modify `let g:gen_tags#ctags_opts = ' --fields=+niazS'` to `let g:gen_tags#ctags_opts = '--fields=+niazS'`
Just remove the space before `--fields`

It works... WTF

[2018-06-13 10:49] maxtcy commented on #56
Hi Sir,
how about **multiple** `g:gen_tags#ctags_opts`
As you can see, there are several opts marked out in my setting.
If i would like to use more than 1 opts, Is my setting correct ?
THX

[2018-06-13 10:51] jsfaint commented on #56
I'm not sure the meaning of multiple `g:gen_tags#ctags_opts`.
Can you explain?

[2018-06-13 11:02] maxtcy commented on #56
As screen-shot show in the below , only `--fields=+niazS` , there are **5 opts more** , i just **marked out**.
![image](https://user-images.githubusercontent.com/7471380/41343023-2876490c-6f30-11e8-9b83-0316786ac1f2.png)

[2018-06-13 11:12] jsfaint commented on #56
Your setting is correct.
But as I said above, vim has some issues to support your first line.
You need to remove the **space** before `--fields`

[2018-06-13 11:52] maxtcy commented on #56
Hi Sir,
Can you hlep me try it with all my setting?

Since i still encounter some error, but if i key in in command in the terminal.
There is no such error.

If save file, it would pop up below error in my side.
ctags: Warning: Unsupported parameter ' ' for "fields" option
ctags: Warning: Unsupported parameter '=' for "fields" option
ctags: Warning: Unsupported parameter 'q' for "fields" option
ct

[2018-06-14 01:05] jsfaint commented on #56
I tried all your ctags_opts yesterday, but it works for me.
![image](https://user-images.githubusercontent.com/571829/41386045-f0933a68-6fb1-11e8-8e73-845fb22bdbe9.png)
![image](https://user-images.githubusercontent.com/571829/41386064-21585c8c-6fb2-11e8-886b-137e89a9ad57.png)

[2018-06-14 03:01] jsfaint commented on #56
@maxtcy I refactor this part for better compatibility.
Please try the latest code. Thanks

[2018-06-14 03:21] maxtcy commented on #56
Will try it later. Stack in the middle of something

Jia Sui <notifications@github.com> 於 2018年6月14日 週四 上午11:01寫道：

[2018-06-14 09:00] maxtcy commented on #56
Hi Sir,

Thanks for your support to refactor. There is no problem after test it.
Both string and list are working fine.

Thanks ,

[2018-06-14 09:00] #56 closed

[2018-06-14 09:12] jsfaint commented on #56
Thanks for your contribution to make `gen_tags.vim` better 👍

[2018-06-16 15:19] #51 closed

[2018-07-04 09:19] fcying opened #59 "[question] Can I use Gtags for jump instead of ctags?"
I test follow script, but not work
[code]

[2018-07-04 09:45] jsfaint commented on #59
It's already set in gen_tags.vim
https://github.com/jsfaint/gen_tags.vim/blob/e79c4af80cf77231949a03c2fcaa86f29c5df879/autoload/gen_tags/gtags.vim#L145-L146

It the GTAGS exists， `ctrl-]` jumps with GTAGS, if the tag can not be found, it will fallback to ctags

[2018-07-04 09:51] fcying commented on #59
it not work, `E257: cstag: tag not found`
GTAGS is exist, `Ctrl+\ c` can work.
If I GenCtags, it can jump.

[2018-07-04 09:55] jsfaint commented on #59
That's because some file that gtags can't generate definition for it.
Which cause this issue, it's upstream issue, not issue in `gen_tags.vim`

`ctrl+\ c` works, that's because
[code]

You should try, it should not work too
[code]

[2018-07-04 10:33] fcying commented on #59
Ok, I understand. this is still a bit of a hassle, ctags still needs to be generated for jump(`c-]`), thanks for reply

[2018-07-04 10:33] #59 closed

[2018-07-04 10:51] jsfaint commented on #59
You can use universal-ctags or pygments as the backend of gtags to generate the tags.
But it looks universal-ctags and pygments don't support caller or reference querying.

[2018-07-07 06:33] fcying commented on #49
Still a little problem, when I use quickfix, it will automatically jump to the first search result, can be set to not jump?

[2018-07-07 08:32] fcying commented on #49
I wrote a specified  string to the top of quickfix list, so it can't jump now, but it will display the string in the top of quickfix...I don't know if there is any better way.

[code]

[2018-07-07 14:14] jsfaint commented on #49
I saw a solution in here
https://github.com/ronakg/quickr-cscope.vim/blob/master/plugin/quickr-cscope.vim#L103

But it looks a bit tricky

[2018-07-07 16:28] fcying commented on #49
This way will not display additional data, but if the jumped buf is existed, bdelete it will effect buffer manager
[code]

[2018-07-10 03:13] jsfaint commented on #35
Hey @rawcoder , sorry for the long wait.
I fixed this issue in branch `fix`, can you have a try?

[2018-07-10 05:43] rawcoder commented on #35
Thanks, it works!

But now I am facing another issue.  If `gtags_auto_gen` is set to 1, then I am unable to exit nvim with `:q`.  I have to use `C-c` for forcing exit.
After setting `verbose` and `statusline` to 1, I am getting the 'Generating tags in background, please stand by...' message which goes away after a tag jump with the message 'The same job is still running'.

Here's a script for repr

[2018-07-10 05:54] jsfaint commented on #35
That's weird.
I can't reproduce it.
Here is my screen record
[![asciicast](https://asciinema.org/a/fRglbTEYazL7H4UTF33wzos2O.png)](https://asciinema.org/a/fRglbTEYazL7H4UTF33wzos2O)

[2018-07-10 06:04] rawcoder commented on #35
Hmm, check out [this](https://asciinema.org/a/3rwTxE7opsEdbbYmizDmTjFqj)

[2018-07-10 06:21] jsfaint commented on #35
Can you show your vimrc?
It will be appreciated if you remove the unnecessary config in vimrc

[2018-07-10 06:32] rawcoder commented on #35
Here's a minimal vimrc with which I am able to reproduce the issue:
[code]

[2018-07-10 06:47] jsfaint commented on #35
I still can't reproduce it with your vimrc.
I will show some message because of verbose is enabled, but only enter key required.
There is no need to press `Ctrl-c`

Which vim or neovim version do you use?
I use neovim v0.3.0 on archlinux

[2018-07-10 06:56] jsfaint commented on #35
Screen record with your vimrc
[![asciicast](https://asciinema.org/a/5ZL0U8EghyfawzXB78AhZuC8P.png)](https://asciinema.org/a/5ZL0U8EghyfawzXB78AhZuC8P)

[2018-07-10 08:24] rawcoder commented on #35
I guess I have figured it out.

I am using v0.2.2.  When I test the same on v0.3.0, it works.

I think [this issue](https://github.com/neovim/neovim/issues/6530) in neovim repo is relevant.

[2018-07-10 08:25] rawcoder commented on #35
Thank you for your help.  I guess we can close this issue now.

[2018-07-13 02:02] fcying opened #61 "[feature request] support ncm2 source"
https://github.com/ncm2/ncm2

nvim-completion-manager is not maintained.

[2018-07-13 02:14] jsfaint commented on #61
I don't have time to do this job currently.
Maybe later

[2018-07-13 07:10] fcying commented on #61
I add a commit to add ncm2 source 0b89c5fc80568dc9ba7543398e955ed209f390b9
I don't know why I can't send a pr separately, it is mixed with the previous pr@_@ #62

[2018-07-13 07:12] jsfaint commented on #61
You need to commit ncm source in another branch, then push it, and create a new PR.

[2018-07-13 08:49] #61 closed

[2018-08-09 04:19] hanxi opened #68 "Clipbord is contaminated"
https://github.com/jsfaint/gen_tags.vim/blob/master/autoload/gen_tags/ctags.vim#L255

[code]

I have no idea to fix it.

[2018-08-09 04:41] jsfaint commented on #68
Maybe we can backup the register and restore it after the execution of global command?

[2018-08-09 08:28] hanxi commented on #68
I view this plugin use cmd out of vim.

https://github.com/ludovicchabant/vim-gutentags/blob/master/plat/unix/update_tags.sh#L98-L107

[code]

[2018-08-09 08:32] hanxi commented on #68
If we backup the register, maybe need backup all register.

[2018-08-09 08:55] jsfaint commented on #68
Yeah, I known that vim-gutentags do this job with external command.
But sorry, I'm not familiar with bat..

Maybe one day I'll try to rewrite this plugin with python or other language.
But not today..

[2018-08-09 10:20] hanxi commented on #68
I try backup and restore all register. Buy it's look like slowly.

[code]

[2018-08-10 02:06] hanxi commented on #68
I write the profile, the most time is in
[code]

[code]

[code]

[2018-08-10 08:17] jsfaint commented on #68
yes, it's very slow.

[2018-08-12 15:48] jsfaint commented on #68
I rewrite `ctags_prune()` function with python, it will fix this issue.
But I need more testing and profiling on it.

[2018-08-12 16:04] jsfaint commented on #68
I try to profile it

The old implement
[code]

The python implement
[code]

The python version is almost 200 times faster than the old version. 😄

[2018-08-13 02:17] hanxi commented on #68
Good job. :+1:

[2018-08-13 02:17] #68 closed

[2018-08-13 05:18] jsfaint commented on #68
Thanks, I'll merge it after some tests

[2018-08-23 10:55] kashewnuts opened #70 "Increase Python 3's priority."
# Problems summary

The Python interface will be evaluated before the Python 3 interface

## Expected

The Python *3* interface will be evaluated before the Python interface.
Because Python 2 will be EOL to 2020, there is no reason to give priority over Python 3.

## Environment Information (Required!)

 * OS: macOS Sierra
 * Vim version: 8.0.1633 https://github.com/splhack/macvim-kaoriya/releases

[2018-08-23 15:40] jsfaint commented on #70
The #71 was merged already, close this issue for good.
Thanks

[2018-08-23 15:40] #70 closed

[2018-08-24 00:57] kashewnuts commented on #70
Thanks for merged!

[2018-09-20 03:27] garytone opened #72 "关于结果很多的时候"
我在知乎上看到了你的回答,所以直接用中文进行提问咯,结果很多的时候会占据很多屏幕空间(这个应该是我没设置),而且还要全部看完才能选择,能不能改善以下选择的方式,可以用光标进行选择,增加预览功能就更好了.啊哈

[2018-09-20 03:39] jsfaint commented on #72
Please refer this #49
[code]

[2018-09-20 03:49] ghost commented on #72
谢谢,没想到回复这么快,非常感谢

[2018-09-20 03:49] #72 closed

[2018-09-20 03:52] jsfaint commented on #72
@garytone 跳转这部分用的是vim内置的功能，可以通过`set cscopequickfix`来改成显示在quickfix
但是如果要做到像ctrlp或者fzf那样的效果就需要额外的工作了，有点得不偿失因为没法和内置的jump list一起协作，也就是没法用ctrl-t跳回来
之后可以考虑加一个依赖fzf的命令来实现类似的功能，但是使用内置功能应该是最高效的做法了

[2018-09-20 04:39] ghost commented on #72
ok,感谢,真是麻烦你了

[2018-10-05 13:35] embedded-kyle opened #73 "Auto generate tags throws a unicode error for certain Windows paths"
This issue cropped up a month or two ago but I just got time to dig in deeper to provide details and a workaround.

Problem is when auto generate tags is enabled, the following error pops up every time I write the file.

[code]

This is a common problem on Windows where paths that include "C:\Users" cause Python to attempt to parse the string as a unicode sequence. This only occurs in paths that i

[2018-10-06 03:06] jsfaint commented on #73
ctags don't support unicode
It looks universal-ctags has limited unicode support, you can have a try.
https://github.com/universal-ctags/ctags

[2018-10-06 05:13] jsfaint commented on #73
Oh, sorry. I misunderstand your issue.

Maybe this issue was imported in the rewrite of ctags_prune().
I am still in the holiday of national day, I'll look into this issue later.

[2018-10-08 06:09] jsfaint commented on #73
I looked into this issue.

My universal-ctags version is download from `https://github.com/universal-ctags/ctags-win32/releases/download/2018-10-08%2F208e2c0b/ctags-2018-10-08_208e2c0b-x64.zip`
[code]

If the source code path is pure English, ctags will generate a `tags` file with charset 'us-ascii' which will be treat as 'utf-8' in python
[code]

And if the path with CJK inside, the `tags` file w

[2018-10-08 13:20] embedded-kyle commented on #73
I have been using universal ctags, though my build is a bit older.

[code]

All paths are in English and the tags file is in ascii.

[code]

As I mentioned I think it has to do with the path containing "C:\Users" as mentioned in [here](https://stackoverflow.com/questions/1347791/unicode-error-unicodeescape-codec-cant-decode-bytes-cannot-open-text-file). The error does not occur if the path does no

[2018-10-08 14:55] jsfaint commented on #73
with ctags_prune enabled, tag for current buffer will be deleted on save.
And append to the end of the tag file after update procedure done.
But with the workaround, I can't see that behavior.

[2018-10-12 05:02] jsfaint commented on #73
https://github.com/jsfaint/gen_tags.vim/tree/fix_unicode
I rewrite `ctags_prune()` with pure vimscript which resolve this issue.

I do some profile on different platform, the performance is accpetable compare to the python version.

@embedded-kyle Can you have a try?

[2018-10-12 13:39] embedded-kyle commented on #73
Updated and switched branches. The error is gone and the tags file was updated with the correct timestamp.

I still don't fully understand the structure of the tag file so I can't confirm that it updated correctly. I was editing Application.c which contains the primary task that my RTOS runs. The last two lines in the tag file are links for the "µVision build Log" but that only seems to be because

[2018-10-13 09:33] jsfaint commented on #73
Yes, the tag is sorted by default
We can  disable the sort behavior by add `-u` for ctags.

I already test on different platforms (Windows, Linux and macOS)
I think I can merge that branch now.

Thanks for your help @embedded-kyle  👍

[2018-10-13 09:40] jsfaint commented on #73
I think we can close this issue now.
@embedded-kyle thanks again 😄

[2018-10-13 09:40] #73 closed

[2018-11-09 23:48] jahanbani opened #75 "add option to use only ctags"
I just installed the plugin on Windows and I get error that gtag doesn't exist

`GNU Global not found
gen_gtags.vim need GNU Global`

However, I would like to just use ctags and not gtags. I have portable ctags and added to path variable. Am I doing something wrong or maybe this is an option that can be added.

Thank you

[2018-11-10 02:57] jsfaint commented on #75
There is an option `g:loaded_gentags#gtags`, please refer the help docs in vim

[2018-11-10 23:51] jahanbani commented on #75
Thank you very much. Solved 🥇

[2018-11-10 23:51] #75 closed

[2018-12-05 04:16] hanxi commented on #49
[code]

[2019-02-16 11:56] sassanh opened #80 "g:gen_tags#global_opts"
Setting `g:gen_tags#gtags_opts` doesn't set the options passed to `global`, which is good but we need a `g:gen_tags#global_opts` then. To set things like `--gtagsconf`.

[2019-02-18 01:10] jsfaint commented on #80
Sorry for the late reply, I don't have much time on this right now.
Please make a PR for if you can, thanks!

[2019-02-18 12:24] #80 closed

[2019-03-28 14:53] ian-howell opened #83 "g:gen_tags#use_cache_dir creates useless directories when used with vim-fugitive"
Tpope's [vim-fugitive](https://github.com/tpope/vim-fugitive) plugin creates a temporary 'fugitive:' directory when the :Gdiff, :Gvdiff, :Gsdiff, and possibly other commands are issued. If g:gen_tags#use_cache_dir is set to 0, gen_tags will create a tags file for that directory, preventing it from being deleted, which in turn causes it to show up in the git index, as well as getting in the way of

[2019-03-30 08:11] jsfaint commented on #83
Sorry for the late reply.
I can't reproduce this issue.
If `g:gen_tags#use_cache_dir` is set to 0, `gen_tags.vim` will only create a folder `tags_dir` under `.git`.

[2019-04-02 20:26] reidrac opened #84 "[feature request] Highlight tags"
I find this quite useful in vim-easytags, and I think that's the only thing that IMHO gen_tags.vim is missing for being perfect.

It periodically highlights some of the tags (functions as Keywords I think).

Thanks a lot for this plugin!

[2019-04-03 01:08] jsfaint commented on #84
Sorry I think `gen_tags` should focus on the generate and update only.
You can use [neotags.nvim](https://github.com/c0r73x/neotags.nvim) instead.
It is like vim-easytags and support async which will not forze your editor, but the only disadvantage is it requires neovim

[2019-04-03 01:12] jsfaint commented on #84
And there is another highlight plugin [chromatica.nvim](https://github.com/arakashic/chromatica.nvim) for C family which is pretty good too

[2019-04-03 05:49] reidrac commented on #84
Fair enough! Thanks for your suggestions.

[2019-04-03 05:49] #84 closed

[2019-04-03 12:02] reidrac opened #85 "Tags file not sorted error"
This is with `ctags`. Sometimes (not for all the tags, that is) tying to autocomplete with CTRL + N I get this error:
[code]
I press enter and it seems to work as expected.

Not sure if this is an issue, but I never experienced this before when using ctags.

[2019-04-03 12:14] reidrac commented on #85
The tags file claims to be sorted:
[code]

Btw, this is vim 8.1.

[2019-04-04 01:35] jsfaint commented on #85
I believe It's issue in ctags.

When generate all ctags, this command will be called
[code]

On update tags (file save), this command will be called
[code]

The tag will be sorted after generating, but in append mode, the new tag will insert in the end of the tag file. I think it's why you get this issue.

But it's weird that I DO see the unsorted tag, but I CANNOT see the error message.

Which ve

[2019-04-04 07:56] reidrac commented on #85
It is Exuberant Ctags 5.9~svn20110310 with "+wildcards" and "+regex".

Looks like `let g:gen_tags#ctags_opts = '-u'` gets rid of the problem. What are the consequences of not having the tags file sorted?

[2019-04-04 09:13] jsfaint commented on #85
not sure, maybe some little performance issue I guess😂

Thanks for the clarification!

[2019-04-04 09:15] reidrac commented on #85
I'm giving gtags a go, but it doesn't support Scala and it is a bit fiddly to setup to be honest.

If gtags work, I'll use that, otherwise I'll see how that `-u` performs (my codebase is not huge anyway).

Thanks for your help! Feel free to close this ticket if is not an bug.

[2019-04-04 09:59] jsfaint commented on #85
gtags can use ctags or pygments for extension to support extra languages.
But it requires some config.

[2019-04-04 10:04] reidrac commented on #85
I managed to make it work with pygments (no luck with ctags, it ignores my ~/.ctags rules for Scala).

Pygments is a bit slow, but it does the job. I'll use it like this for a while and see how it goes.

Thanks again for your help!

[2019-04-04 10:09] jsfaint commented on #85
It's my pleasure😄

[2019-04-04 10:13] reidrac commented on #85
In case someone comes to this bug report, this is what I did in Ubuntu 18.04:

1. Copy the example gtags conf file: `zcat /usr/share/doc/global/examples/gtags.conf.gz > ~/.globalrc`
2. Edit it and replace `pygments-parser.la` with `pygments-parser.so` (it is just the extension)
3. Set environment variables: `export GTAGSLABEL=pygments` and `export GTAGSCONF=~/.globalrc` (add those two to your `~/.

[2019-04-08 08:49] #85 closed

[2019-04-08 08:50] jsfaint commented on #83
@ian-howell Any updates?

[2019-04-08 10:11] reidrac commented on #85
Also for the record: the `-u` flag in ctags doesn't help at all, vim will complain the tags aren't sorted.

[2019-04-08 10:37] jsfaint commented on #85
@reidrac I don't use completion directly, but with some completion framework, it works well.
That's werid
And can you try universal-ctags instead of the Exuberant tags?

[2019-04-08 10:45] reidrac commented on #85
I gave up with ctags directly and instead I'm using gtags (with plugins for ctags or pygments, as needed). It doesn't seem to be affected by this issue, but I wanted to clarify that the `-u` workaround with ctags doesn't work (the resulting file is indeed unsorted, but vim requires it to be sorted I guess).

It makes sense it doesn't because it appends sorted tags but is not *sorting the tags file

[2019-04-08 10:48] jsfaint commented on #85
got it, thanks for the information🙂

[2019-04-08 13:35] jsfaint commented on #85
The season that it doesn't happen with easytags, it is very simple..
easytags do not use append mode, it always generate all the tags again and again.
That's why easytags will froze the editor.

[2019-04-08 13:39] reidrac commented on #85
Easytags supports asynchronous execution (it is experimental, but it works fine for me).

Easytags ticks lots of boxes for me (tag highlighting is very useful, even if it is a bit expensive), but `gen_tags` has better tags management (`~/.cache` when using it on a git repo is a killer feature IMHO). And well, now that I'm using gtags, it includes few tricks I'm getting used to very quickly.

[2019-04-08 13:48] jsfaint commented on #85
I implemented async support in the original code even before neovim appear.
And in that time, append mode was also disabled.
Then I got a feature request for append mode, and later it became buggy🤣
I keep fighting with ctags append mode and try to prune the old tag for append mode.
I'm a little regret to support it. 🤣

[2019-04-08 13:52] reidrac commented on #85
I see why ctags is needed, I would suggest you:

- Improve gtags support and documentation on using it with the ctags plugin
- Drop ctags support

I've found gtags docs a bit lacking and it is a bit "complicated" to configure (it doesn't help that Debian example conf file had a couple of issues loading the plugins), but once it is working, gtags is better interface to ctags than ctags itself.

I'm

[2019-04-08 14:05] jsfaint commented on #85
Thanks for the advice! I will complete the document when I get some spare time.😄

[2019-04-10 09:06] jsfaint commented on #85
I Changed the behavior of `g:gen_tags#ctags_prune`, if this option is set to `1`, prune and append mode will be used, otherwise it will always re-generate the tags file.
And I also added help doc  about how to set global parser(ctags/pygments)

The code is in [refactor/ctags](https://github.com/jsfaint/gen_tags.vim/tree/refactor/ctags) branch, not merged yet

[2019-04-18 08:43] Fandekasp opened #87 "set ctag rules per filetype"
I understand that gen_tags creates a config per project, but my projects are usually a bunch python backend, and typescript/es6/react/html/css/etc frontend, so I'd like ctags to generate tags smartly depending on the file I'm in.

I have not managed to get a result satisfying, eg jumping to some json file when Ctrl-] on a python import.

Reading through the `gen_tags.txt` help file, I cannot figur

[2019-04-18 09:14] jsfaint commented on #87
You can refer this comment 😄
https://github.com/jsfaint/gen_tags.vim/issues/47#issuecomment-392410996

[2019-04-19 02:00] AdrienLemaire commented on #87
Thanks for the reply @jsfaint. After reading a bit, I'm thinking of having 2 git ctags hooks, one for the frontend and one of the backend.

For the time being, I removed the frontend stuff and am focusing on getting good python/django definitions. I created [an SO thread here](https://stackoverflow.com/questions/55755583/how-to-configure-ctags-to-better-choose-the-definition-file-for-the-tag-under

[2019-04-19 02:00] #87 closed

[2019-05-21 01:45] jsfaint commented on #83
Close, since there is no update for a long term
If you have any update, please reopen it. thanks

[2019-05-21 01:45] #83 closed

[2019-06-12 13:55] reidrac opened #89 "Rebuild tags after branch change"
Not sure if this is a feature request or a question but it would be very useful if gen_tags was rebuinding the tags DB after a branch change.

It gets me confuses evey now an then and I basically clean the tags and generate them again (not sure if if the first step is required).

Thanks in advance.

This plugin is awesome, thanks for sharing it!

[2019-06-13 07:17] jsfaint commented on #89
Thanks for the issue! This is the issue that I alway want to fix.
But I have no idea how to detect the change of git brach in vim instantly.

Any suggestions?

[2019-06-13 07:25] reidrac commented on #89
Not sure. I guess it could  somethinbg like checking for a branch change when there's an event in vim. What event? Good question. What are plugins like vim-gitgutter doing?

EDIT: also, if the branch change happens because something in vim (.e.g. fugitive), perhaps linking to that is a possibility too.

[2022-07-04 14:57] lixiang130 opened #93 "When the directories configured by scm (.git, .hg, .svn) and g:gen_tags#root_marker both exist, the problem that the configuration of g:gen_tags#root_marker is invalid"
When the directories configured by scm (.git, .hg, .svn) and g:gen_tags#root_marker exist, the configuration of g:gen_tags#root_marker is invalid.
There should be a "break" on line 61 of the latest version of autoload/gen_tags.vim

[2022-07-04 15:07] lixiang130 commented on #93
e9624a4d7e2d83be0fa910cdde35fc4fde9e7438

[2022-07-04 15:12] lixiang130 commented on #93
Line 55 of "break" was removed in this commit: e9624a4d7e2d83be0fa910cdde35fc4fde9e7438,
After I added "break" to the latest version, it can work normally, I hope the official can fix it as soon as possible

[2022-07-05 02:18] #93 closed